$moduleName: 'listCategories';

.#{$moduleName} {
	padding: 15px 30px;
	@media (max-width: $b-01) {
		max-width: 320px;
		margin: 0 auto;
	}

	&__item {
		display: block;
		width: 100%;
		overflow: hidden;

		&.hideList {
			.#{$moduleName}__list {
				display: none;
			}
		}
	}

	&__header {
		.#{$moduleName}__title {
			float: left;
			margin-left: 20px;
			display: list-item;
			list-style-position: inside;
			list-style-type: disc;

			&--button {
				@include resetButton();

				display: inline-block;
				text-decoration: underline;
				text-transform: capitalize;
				font-size: inherit;
			}
		}

		.#{$moduleName}__button {
			@include resetButton();

			float: left;
			margin-top: -2px;
			margin-left: 10px;
			width: 20px;
		}

		.#{$moduleName}__arrow {
			display: inline-block;
			border: solid black;
			border-width: 0 3px 3px 0;
			padding: 5px;
			margin-top: 1px;
			transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
		}

		.#{$moduleName}__button.isOpen {
			margin-bottom: 20px;
			.#{$moduleName}__arrow {
				margin-top: 10px;
				transform: rotate(-135deg);
				-webkit-transform: rotate(-135deg);
			}
		}
	}

	&__list {
		clear: both;
		display: block;
		width: 100%;
		padding: 10px 20px;
	}
}

@import './SwiperSlider.scss';
