// Swiper slider
.swiper-container {
	margin: 0 auto;
	position: relative;
	overflow: inherit;
	list-style: none;
	padding: 0;

	/* Fix of Webkit flickering */
	z-index: 1;

	// override
	width: 100%;
	height: 100%;
}

.swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	transition-property: transform;
	box-sizing: content-box;
}

.swiper-wrapper,
.swiper-slide .swiper-container-android {
	transform: translate3d(0, 0, 0);
}

.swiper-slide {
	width: 221px;
	height: 172px;
	position: relative;
	transition-property: transform;
	flex-shrink: 0;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-container-wp8-horizontal,
.swiper-container-wp8-horizontal > .swiper-wrapper {
	-ms-touch-action: pan-y;
	touch-action: pan-y;
}

/* a11y */
.swiper-container .swiper-notification {
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	opacity: 0;
	z-index: -1000;
}

.swiper-container-coverflow .swiper-wrapper {
	/* Windows 8 IE 10 fix */
	-ms-perspective: 1200px;
}

.swiper-button-prev,
.swiper-button-next {
	position: absolute;
	top: 50%;
	width: 24px;
	height: 26px;
	margin-top: -13px;
	z-index: 10;
	cursor: pointer;
	background-size: 27px 44px;
	background-position: center;
	background-repeat: no-repeat;
	outline: none;
	border: none;

	&.swiper-button-disabled {
		opacity: 0.35;
		cursor: auto;
		pointer-events: none;
	}
}
.swiper-button-prev {
	left: -20px;
	right: auto;
}
.swiper-button-next {
	right: -30px;
	left: auto;
}
