$moduleName: 'layout';
.#{$moduleName} {
	width: 100%;
	padding-top: 50px;

	@include breakpoint($b-01) {
		padding-top: 0;
		width: 600px;
		min-height: 550px;
		margin: 54px auto;
		border: 1px solid $c-01;
	}
	@include breakpoint($b-02) {
		width: 850px;
	}

	h1 {
		font-size: 18px;
		margin-top: 20px;
		margin-bottom: 30px;

		&.gridView {
			justify-content: left;

			/* display: list-item;
			list-style-position: inside; */
		}
	}
}

.listView {
	width: 94%;
	margin: 0 3%;

	&::-webkit-scrollbar {
		display: none;
	}
}

.withBoarder {
	display: block;
	border: 1px solid #000;
	border-radius: 15px;
}

.gridView {
	display: flex;
	flex-flow: row wrap;
	max-width: 340px;
	margin: 0 auto;
	justify-content: left;
	padding: 0 10px;

	@include breakpoint($b-01) {
		max-width: 515px;
		justify-content: space-around;
	}

	@include breakpoint($b-02) {
		max-width: 725px;
		justify-content: left;
	}
}

.columnControl {
	&__col3 {
		clear: both;
		padding: 0;
	}
	&__item {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;

		// 768 tablet (show 2 columns)
		@include breakpoint($b-01) {
			width: 221px;
			height: 172px;
			margin-left: 0;
			margin-right: 30px;

			&:nth-child(2n) {
				margin-right: 0;
			}
		}

		// 1024 desktop (show 3 columns)
		@include breakpoint($b-02) {
			&:nth-child(2n) {
				margin-right: 30px;
			}

			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}
}
