{
  "extends": [
      "stylelint-config-standard",
      "stylelint-prettier/recommended"
  ],
  "ignoreFiles": ['**/*.js', '**/node_modules/**'],
  "plugins": [
    "stylelint-no-unsupported-browser-features",
    "stylelint-prettier"
  ],
  "rules": {
    "prettier/prettier": true,
    'at-rule-no-unknown': [true, {
      ignoreAtRules: ['function', 'if', 'each', 'else', 'for', 'include', 'mixin', 'return', 'warn']
    }],
    'selector-max-specificity': null,
    'max-nesting-depth': [6, { ignore: ["pseudo-classes"]}],
    'selector-combinator-space-after': null,
    'selector-combinator-space-before': null,
    'plugin/no-unsupported-browser-features': [true, {
      ignore: ['transforms3d', 'css-touch-action', 'pointer', 'pointer-events', 'fontface', 'css3-cursors', 'outline', 'object-fit', 'css-sticky', 'css-appearance', 'css-mixblendmode', 'word-break', 'user-select-none', 'css-resize', 'viewport-units', 'multicolumn', 'calc', 'rem', 'flexbox', 'css-filters', 'css-hyphens']
    }]
  }
}
