{
  "extends": [
      "stylelint-config-standard",
      "stylelint-prettier/recommended"
  ],
  "ignoreFiles": ['**/*.js', '**/node_modules/**'],
  "plugins": [
    "stylelint-no-unsupported-browser-features",
    "stylelint-prettier"
  ],
  "rules": {
    "prettier/prettier": true,
  }
}
