$moduleName: 'selectedArticle';
.#{$moduleName} {
	display: block;
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	padding: 10px 100px 10px 50px;

	&__title {
		display: block;
		color: #000;
		width: 100%;
	}

	&__imageWrapper {
		position: relative;
		margin-top: 8px;
		width: 100%;
		background-color: $c-02;

		// IE11 fix
		@media screen and (-ms-high-contrast: active),
			screen and (-ms-high-contrast: none) {
			display: block;
		}

		.#{$moduleName}__image {
			display: block;
			height: 75px;
			object-fit: cover;
			width: 100%;
			margin: auto;

			// IE11 fix
			@media screen and (-ms-high-contrast: active),
				screen and (-ms-high-contrast: none) {
				display: block;
				max-width: 100%;
				max-height: 90%;
				margin: 0 auto;
				padding-top: 30px;
			}
		}
	}

	&__content {
		display: block;
		margin-top: 15px;
		width: 100%;
		text-align: left;
	}

	&__button {
		display: block;
		margin-top: 15px;
		border: none;
		padding: 0;
		font-size: 16px;
		color: $c-01;
		cursor: pointer;
		text-align: left;

		&:hover {
			color: $c-02;
		}
	}
}
