$moduleName: 'nav';
.#{$moduleName} {
	display: block;
	width: 100%;
	@include breakpoint($b-01) {
		height: 57px;
		line-height: 57px;
		border-bottom: 1px solid $c-01;
	}

	//burger menu
	@media (max-width: $b-01) {
		.burgerMenu {
			display: none;
		}

		.burgerIcon {
			position: fixed;
			top: 20px;
			right: 20px;
			width: 20px;
			z-index: 2;
		}

		.navigation {
			position: absolute;
			top: 50px;
			left: 0;
			width: 100%;
			background: $c-00;
			box-shadow: 0px 0px 14px rgba(103, 105, 133, 0.4); /* stylelint-disable-line length-zero-no-unit */
			z-index: 2;
			padding: 30px;

			&--disabled {
				display: none;
			}

			&--active {
				display: block;
			}

			ul {
				display: block;
				list-style: none;
			}

			li {
				display: block;
			}

			.link {
				display: block;
				text-decoration: none;
				font-size: 18px;
				color: $c-01;
				margin-bottom: 20px;

				&--disabled {
					display: none;
				}
			}

			.button {
				display: block;
				float: left;

				&__country {
					display: block;
					border: none;
					padding: 0;
					line-height: 57px;
					width: 60px;
					font-size: 16px;
					background-color: #ff6347;
					border-left: 1px solid #000;
					color: black;

					&--active {
						color: white;
					}
				}
			}
		}
	}

	@include breakpoint($b-01) {
		.burgerMenu,
		.burgerIcon {
			display: none;
		}

		ul {
			display: block;
			list-style: none;
		}

		li {
			display: inline-block;
		}

		.link {
			display: block;
			text-decoration: none;
			font-size: 18px;
			color: $c-01;
			border-right: 1px solid $c-01;
			padding-left: 30px;
			padding-right: 30px;

			&:hover,
			&.is-active {
				background: $c-02;
				color: $c-00;
			}

			&--disabled {
				display: none;
			}
		}

		.button {
			display: block;
			float: right;

			&__country {
				display: block;
				border: none;
				padding: 0;
				line-height: 57px;
				width: 60px;
				font-size: 16px;
				background-color: #ff6347;
				border-left: 1px solid #000;
				color: black;

				&--active {
					color: white;
				}
			}
		}
	}
}
