@mixin ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	// IE11 fix
	@media screen and (-ms-high-contrast: active),
		screen and (-ms-high-contrast: none) {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
