@import './theme/theme';
@import './containers/Layout';
@import './components/Loader/Loader';
@import './components/Navigation/Navigation';
@import './components/ListArticles/ListArticles';
@import './components/ListCategories/ListCategories';
@import './components/Article/Article';
@import './components/SingleArticle/SingleArticle';

#news {
	box-sizing: border-box;

	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}

	font-family: $f-regular;
}
