@import './theme/theme';
@import './containers/Layout';
@import './components/Loader/Loader';
@import './components/Navigation/Navigation';
@import './components/Article/Article';
@import './components/SelectedArticle/SelectedArticle';
@import './components/Search/Search';
@import './components/ListCategories/ListCategories';
@import './components/SelectedCategorie/SelectedCategorie';

#news {
	box-sizing: border-box;

	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}

	font-family: $f-regular;
}
